<h2 #target>6 lesson: guards, behaiver subjects, multi autlet</h2>
<p>ДЗ.
  на главной компоненте сделать форму с инпутом, в него нужно вводить id юзера. По этому id ваш сервис обращяется к jsonplaceholder и достает конкретного юзера делая переход по роуту и показывая его на отдельной странице. Сделать gurad который позволит запретить переход если такого id юзера ,который вы ввели, не существует.
  Создать DataService, в который записывать всех юзеров, которых вы выбирали по номеру.</p>

<!--<a routerLink="/">hello component</a>-->
<!--<br>-->
<!--<a routerLink="first">first component</a>-->
<!--<br>-->
<!--<a routerLink="second">second component</a>-->
<!--<br>-->
<!--<a [routerLink]="[{outlets: {primary: 'first', xxx: 'second'}}]">two outlets</a>-->

<app-first></app-first>

<!--<router-outlet></router-outlet>-->
<!--<router-outlet name="xxx"></router-outlet>-->
